<ion-content class="ion-padding" [fullscreen]="true">

  <div>
    <shared-icon></shared-icon>
    <!--! No olvidar: Agregar FormGrou y Submit -->
    <form>
      <h2>Bienvendo a la página de registro</h2>

      <ion-item>
        <ion-input label="Nombre Completo" labelPlacement="floating" placeholder="Pepito Pérez"></ion-input>
      </ion-item>

      <div class="ion-padding submit-button">
        <ion-button size="default" type="submit">Enviar</ion-button>
      </div>
    </form>
  </div>


</ion-content>
