<ion-content class="ion-padding">

  <div>
    <shared-icon></shared-icon>
    <form>
      <h2>Bienvendo a la página de ingreso</h2>

      <ion-item>
        <ion-input label="Número de teléfono" labelPlacement="floating" placeholder="3012345678"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" type="password" placeholder="yourStrong#Password"></ion-input>
      </ion-item>

      <div class="ion-padding submit-button">
        <ion-button size="default" type="submit">Enviar</ion-button>
      </div>
    </form>
  </div>


</ion-content>
