<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" style="margin-left: -50px;">Mi cuenta</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
  

  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <ion-avatar style="width: 100px; height: 100px;">
  
        <img alt="Profile picture" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
  </div>

  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
    <ion-button shape="round">Cerrar sesión</ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item class="ion-margin-top" style="margin-left: 300px;">
          <ion-textarea [readonly]="true" label="Nombres:" placeholder="Juan Pedro"></ion-textarea>
        </ion-item>

        <ion-item class="ion-margin-top" style="margin-left: 300px;">
          <ion-textarea [readonly]="true" label="Email:" placeholder="juanmendez@gmail.com"></ion-textarea>
        </ion-item>

      </ion-col>
      <ion-col size="3.5">
        <ion-item class="ion-margin-top" style="margin-left: -5px;">
          <ion-textarea [readonly]="true" label="Apellidos:" placeholder="Méndez López"></ion-textarea>
        </ion-item>

        <ion-item class="ion-margin-top" style="margin-left: -5px;">
          <ion-textarea [readonly]="true" label="Dirección:" placeholder="Carrera 5 # 13-24, Barrio San Antonio"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-content>
</div>