<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-searchbar animated="true" placeholder="Busca un servicio"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buscar Servicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin-top: 200px;">
    <div class="ion-padding">Algunos de los servicios que ofrecemos:</div>

    <ion-list lines="none">
      <ion-item>
        <ion-label>Cuidado de mascotas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cuidado de niños</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cuidado de adultos mayores</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mudanzas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Reparaciones</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Jardinería</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Catering</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>