<ion-header [translucent]="true">
  <shared-header></shared-header>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <div class="icon">
        <img src="../../../../assets/icono.png" height="25" />
        <h1>Domestic<span>App</span></h1>
      </div>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="ion-padding">
    <h2>Nuestro servicios:</h2>
    <ion-grid class="ion-no-padding ">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
          <ion-col size="12" size-sm="3">
            <shared-card></shared-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </ion-content>

</ion-content>
