<ion-header [translucent]="true">
  <shared-header></shared-header>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <div class="icon">
        <img src="../../../../assets/icono.png" height="25" />
        <h1>Domestic<span>App</span></h1>
      </div>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="ion-padding">
    <h2>Nuestros servicios:</h2>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" size-sm="3">
          <ion-card>
            <img alt="Jardinería" src="https://i.imgur.com/2i4AoMC.jpeg" />
            <ion-card-header>
              <ion-card-title>Jardinería</ion-card-title>
              <ion-card-subtitle>X personas disponibles</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="custom-card-content">
              Espacios verdes cuidados y estéticamente agradables, utilizando técnicas avanzadas
              y prácticas sostenibles para crear y mantener jardines vibrantes y saludables.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="3">
          <ion-card>
            <img alt="Cuidado de niños" src="https://i.imgur.com/NYjOdLJ.jpeg" />
            <ion-card-header>
              <ion-card-title>Cuidado de niños</ion-card-title>
              <ion-card-subtitle>X personas disponibles</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="custom-card-content">
              Atención experta y cariñosa para garantizar el bienestar y desarrollo óptimo de los más pequeños.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="3">
          <ion-card>
            <img alt="Cuidado de adultos mayores" src="https://i.imgur.com/GZjTcpb.jpeg" />
            <ion-card-header>
              <ion-card-title>Cuidado de adultos mayores</ion-card-title>
              <ion-card-subtitle>X personas disponibles</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="custom-card-content">
              Cuidado especializado y dedicado para adultos mayores, garantizando confort y atención personalizada.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="3">
          <ion-card>
            <img alt="Cuidado de mascotas" src="https://i.imgur.com/PzO2wOv.jpeg" />
            <ion-card-header>
              <ion-card-title>Cuidado de mascotas</ion-card-title>
              <ion-card-subtitle>X personas disponibles</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="custom-card-content">
              Cuidado profesional y amoroso para mascotas, asegurando su bienestar
              y felicidad con atención personalizada para cada necesidad.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="3">
          <ion-card>
            <img alt="Mudanzas" src="https://i.imgur.com/vZM3gkZ.jpeg" />
            <ion-card-header>
              <ion-card-title>Mudanzas</ion-card-title>
              <ion-card-subtitle>X personas disponibles</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="custom-card-content">
              Servicios de mudanza eficientes y cuidadosos,
              garantizando el transporte seguro y organizado de pertenencias a su nuevo destino.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="3">
          <ion-card>
            <img alt="Reparaciones y mantenimiento" src="https://i.imgur.com/qmjjamy.jpeg" />
            <ion-card-header>
              <ion-card-title>Reparaciones</ion-card-title>
              <ion-card-subtitle>X personas disponibles</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="custom-card-content">
              Reparaciones de todo tipo, desde plomería y pintura hasta electricidad y
              carpintería, asegurando soluciones rápidas y efectivas para cada necesidad.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="3">
          <ion-card>
            <img alt="Catering" src="https://i.imgur.com/sLEj7VL.jpeg" />
            <ion-card-header>
              <ion-card-title>Catering</ion-card-title>
              <ion-card-subtitle>X personas disponibles</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="custom-card-content">
              Servicio de catering profesional, ofreciendo una amplia variedad de menús
              personalizados para todo tipo de eventos.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="3">
          <ion-card>
            <img alt="Limpieza del hogar" src="https://i.imgur.com/IunSS3L.jpeg" />
            <ion-card-header>
              <ion-card-title>Limpieza del hogar</ion-card-title>
              <ion-card-subtitle>X personas disponibles</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="custom-card-content">
              Servicio de limpieza del hogar, asegurando espacios impecables y
              ordenados mediante técnicas eficientes y productos de alta calidad.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
