<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Calificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Calificaciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <p></p>
  <div>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><strong>Usuario</strong></ion-col>
        <ion-col><strong>Labor</strong></ion-col>
        <ion-col><strong>Comentario</strong></ion-col>
        <ion-col><strong>Calificación</strong></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Susana Lopez</ion-col>
        <ion-col>Jardineria</ion-col>
        <ion-col>Buen servicio</ion-col>
        <ion-col>4.8</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  
</ion-content>
